.filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    background: #F0F0F0;
    margin-bottom: 2%;
}

.filter div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

.filter select {
    margin: 0;
    padding: 2%;
    height: 10%;
    width: 30%;
    border: none;
    outline: none;
}